<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695847631682-pfmrqj9r40ibsk2gt7t91258gckmbv9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695847631682-pfmrqj9r40ibsk2gt7t91258gckmbv9q</string>
	<key>API_KEY</key>
	<string>AIzaSyANGwXq4LYsfkWAByvpJBH2v5PtFQ7sUYo</string>
	<key>GCM_SENDER_ID</key>
	<string>695847631682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.korodog.lolBuild</string>
	<key>PROJECT_ID</key>
	<string>lol-build-4e0c9</string>
	<key>STORAGE_BUCKET</key>
	<string>lol-build-4e0c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695847631682:ios:c0dcf12fe79f3c21c9a6db</string>
</dict>
</plist>